* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-background: rgb(111, 143, 192);
  --secondary-background: lightgrey;
  --text-color: rgb(23, 192, 214);
  --primary-color: #fff;
  --secondary-color: #000;
  --btn-bg: Darkblue;
  --overlay-1: rgba(255, 255, 255, 0.3);
  --p-text: #000
}

[data-theme="dark"] {
  --primary-background: rgb(20, 20, 20);
  --secondary-background: rgb(72, 73, 73);
  --text-color: rgb(241, 136, 14);
  --primary-color: #000;
  --secondary-color: #fff;
  --btn-bg: #fff;
  --overlay-1: rgba(0, 0, 0, .6);
  --p-text: rgb(241, 136, 14)
}

::-webkit-scrollbar {
  width: 2px
}

::-webkit-scrollbar-track {
  background-color: lightgrey;
}

::-webkit-scrollbar-thumb {
  background-color: grey;
}

/* ---------------------- Navabar CSS  ----------------------*/
.navbar-container {
  height: 10vh;
  background-color: var(--primary-background);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  color: var(--secondary-color);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  flex: 2;
  display: flex;
  justify-content: space-between;
}

.nav-link {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  font-weight: 600;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  width: 100%;
}

.nav-link>li {
  cursor: pointer;
}

.nav-link>li:hover {
  border-bottom: 2px solid var(--secondary-color);
}



/* ---------------------- Login Page CSS  ----------------------*/

.login-container {
  background-color: var(--secondary-background);
  height: 90vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container-div {
  width: 30%;
  text-align: center;
  color: var(--secondary-color);
}

.login-container-div>p {
  color: var(--p-text);
  font-size: 1.3rem;
}

.login-container-div>h1,
p {
  margin-bottom: 1rem;
}


/* ---------------------- ChatBox Page CSS  ----------------------*/
.messageBox-conatiner {
  height: 75vh;
  padding: 1rem;
  overflow-y: scroll;
  background-color: var(--primary-color);
}

.message-wrapper {
  display: flex;
  justify-content: flex-start;
}

.message-wrapper-end {
  display: flex;
  justify-content: flex-end;
}

.single-message-div {
  margin-bottom: 1rem;
  display: flex;
  gap: 6px
}

.single-message-div-reverse {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row-reverse;
  gap: 6px
}


.avatar-container {
  width: 35px;
  height: 35px;
  margin-top: 5px;
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.msg-container {
  max-width: 80%;
}

.msgText {
  /* width: 200px; */
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: .3rem .6rem;

}

.small-text {
  color: var(--secondary-color)
}

.corner-left {
  border-radius: 10px 0 10px 10px;
}

.corner-right {
  border-radius: 0px 10px 10px 10px
}

.empty-chatBox>h1 {
  color: var(--secondary-color);
  text-align: center;
}

.inputBox-container {
  background-color: var(--primary-background);
  padding: .4rem 1rem;
}

.inputBox-container>form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-field {
  padding: .4rem;
  background-color: transparent;
  font-size: 1rem;
  border: none;
  outline: none;
  width: 80%;
  color: var(--secondary-color);
}


/* Buttons and Icons */
.send-btn {
  background-color: transparent;
  color: var(--btn-bg);
  font-size: 1.6rem;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

.close {
  color: var(--primary-background)
}

.btn {
  background-color: var(--btn-bg);
  color: var(--primary-color);
  padding: .6rem 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.btn:hover {
  opacity: .8;
}


.close-btn {
  cursor: pointer;
}

.mode-icon {
  cursor: pointer;
}


.mobile-menu-icon {
  display: none;
  cursor: pointer;
}




/* Media Queries for small device */

@media screen and (max-width:767px) {

  .navbar {
    display: none;
  }

  .navbar-mobile {
    display: flex;
    width: 100%;
    height: 60%;
    background-color: var(--primary-background);
    position: absolute;
    flex-direction: column;
    z-index: 1;
    top: 10vh;
    right: 0px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.5s ease-out;
  }

  .nav-link {
    display: none;
  }

  .nav-link-mobile {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 2rem;
  }

  .mobile-menu-icon {
    display: inline;
    color: var(--secondary-color);
  }

  .nav-link-mobile>li {
    cursor: pointer;
  }


}